.card_pfms {
    position: relative;
    margin-top: 20px;
    padding: 0.7em 2em 1em;
    min-width: 255px;
    max-width: 800px;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    box-sizing: border-box;
}
